<div style="padding: 13px;">
  <mat-spinner *ngIf="items$ === undefined"></mat-spinner>
  <mat-card *ngFor="let item of items$ | async" style="margin-top:10px;">
    <mat-card-header>
        <mat-card-title># {{item.name}}</mat-card-title>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- <p>
            {{item.description}}
        </p> -->
        <div class="card-image-container">
        <img class="card-image" src="{{ item.imageUrl }}" />
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onSelect(item.id)"> View item</button>
    </mat-card-actions>
  </mat-card>
</div>
