<div class="content">
<form [formGroup]="itemForm" novalidate>
  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter item name</mat-label>
      <input matInput placeholder="name" formControlName="name" required>
      <mat-error *ngIf="itemForm.controls['name'].invalid && (itemForm.controls['name'].dirty || itemForm.controls['name'].touched)">
        Enter name
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter item description</mat-label>
      <input matInput placeholder="description" formControlName="description" required>
      <mat-error *ngIf="itemForm.controls['description'].invalid && (itemForm.controls['description'].dirty || itemForm.controls['description'].touched)">
        Enter description
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter item image url</mat-label>
      <input matInput placeholder="url" formControlName="imageUrl">
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="itemForm.pristine || itemForm.invalid" >
    Add item
  </button>
</form>
</div>
