
<div class="hero-container">
  <div
    [ngClass]="'item-hero'"
    [ngStyle]="{'background-image': 'url(' + item?.imageUrl + ')'}">
  </div>
</div>
<div [ngClass]="'content'">
  <div>
    <h1>{{item?.name}}</h1>
    {{item?.description}}
  </div>
  <div class="button-container-right">

    <button
      mat-raised-button
      color="warning"
      (click)="backToListings()"
      >Back to listings
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onEdit(item.id)"
      >Edit
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="onDelete(item.id)"
      >Delete
    </button>
  </div>
</div>
